<div data-user-search-target="list">
  <div class="related-users">
    <% if params[:query].present? %>
      <p><%= pluralize users.count, 'user' %> for <code><%= params[:query] %></code></p>
      <div class="users">
        <% users.each do |user| %>
          <ul class="list-group user-search-list">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= user.username %>
              <span>
                <% if signed_in? && !Invitation.reacted?(current_user.id, user.id) && current_user != user %>
                  <%= simple_form_for @invitation do |f| %>
                    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                    <%= f.input :friend_id, as: :hidden, input_html: { value: user.id } %>
                    <button type="submit" class="add-friend">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  <% end %>
                <% end %>
              </span>
            </li>
            <%= link_to "", user_shelf_interests_path(user), class: "card-item-link" %>
          </ul>
        <% end %>
      </div>
    <% else %>
      <div class="similar-users">
        <h3>Similar Shelves</h3>
        <div class="related-users">
          <% @related_users.each do |u| %>
            <%= render 'users/user', u: u, invitation: @invitation %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
