<div class="other-shelf p-3 row">
  <div class="name-add d-flex justify-content-between align-items-center">
    <div class="user-info d-flex justify-content-start align-items-center">
      <% if u.photo.attached? %>
        <%= cl_image_tag u.photo.key , class: "avatar" %>
      <% else %>
        <%= image_tag "" , class: "avatar" %>
      <% end %>
      <h3 class="ms-2 pt-2"><%= u.username %></h3>
      <%= link_to "", user_shelf_interests_path(u), class: "add-friend-link" %>
    </div>
    <span>
      <% if signed_in? && !Invitation.reacted?(current_user.id, u.id) && current_user != u %>
        <%= simple_form_for invitation do |f| %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.input :friend_id, as: :hidden, input_html: { value: u.id } %>
          <button type="submit" class="add-friend"> <i class="fa-solid fa-plus fa-2xs"></i> <span>Add friend</span> </button>
        <% end %>
      <% end %>
    </span>
  </div>
  <div class="user-tags my-3">
    <% u.tag_list.select { |tag| current_user.tag_list.include?(tag) }.each do |t| %>
      <span class="badge rounded-pill bg-info text-dark"><%= t %></span>
    <% end %>
  </div>
  <div class="cards d-flex justify-content-start">
    <% u.interests.where(id: current_user.interests).each do |i|%>
      <div class="card-item-small " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= i.photo.attached? ? cl_image_path(i.photo.key) : image_path(i.cover) %>)">
        <h3><%= i.title %></h3>
      </div>
    <% end %>
  </div>
</div>
