<div class="login">
  <div class="text-center">
    <%= simple_form_for @user, html: { multipart: true } do |f| %>
      <div class="field">
        <%= f.input :username %>
      </div>
      <div class="field">
        <%= f.input :bio %>
      </div>
      <div class="field">
        <%= f.input :photo, as: :file %>
      </div>
      <div class="field">
        <select class="form-select select optional text-start" multiple="multiple" placeholder="Add tags" data-controller="tom-select" data-tom-select-options-value=<%= {tags: true} %> name="user[tag_list][]" id="user_tag_list">
          <% User::USER_TAGS.each do |key, value| %>
            <optgroup label="<%= key %>" class="fw-bolder">
              <% User::USER_TAGS[key].each do |tag| %>
                <option value="<%= tag %>" <%= "selected" if @user.tag_list.include?(tag) %>><%= tag %></option>
                <% end %>
              <% end %>
              <%#
          <optgroup label="Books" class="fw-bolder">
            <option value="fiction" selected>fiction</option>
            <option value="non-fiction">non-fiction</option>
            <option value="horror">horror</option>
            <option value="mystery">mystery</option>
            <option value="fantasy">fantasy</option>
            <option value="romance">romance</option>
            <option value="young adult">young adult</option>
          </optgroup>
          <optgroup label="Movies" class="fw-bolder">
            <option value="comedy">comedy</option>
            <option value="action">action</option>
            <option value="horror">horror</option>
            <option value="sci-fi">sci-fi</option>
            <option value="animation">animation</option>
            <option value="musical">musical</option>
          </optgroup>
          <optgroup label="Music" class="fw-bolder">
            <option value="pop">pop</option>
            <option value="rap">rap</option>
            <option value="jazz">jazz</option>
          </optgroup> %>
            </select>
          </div>
          <div class="actions">
            <%= f.button :submit, "Update User" %>
          </div>
        <% end %>
        <p><%= link_to 'Back to Profile', user_path(@user) %></p>
      </div>
    </div>
