<div class="login">
  <div class="text-center">
    <%= simple_form_for @user, html: { multipart: true } do |f| %>
      <div class="field">
        <%= f.input :username %>
      </div>
      <div class="field">
        <%= f.input :age %>
      </div>
      <div class="field">
        <%= f.input :location %>
      </div>
      <div class="field">
        <%= f.input :bio %>
      </div>
      <div class="field">
        <%= f.input :photo, as: :file %>
      </div>
      <div class="actions">
        <%= f.button :submit, "Update User" %>
      </div>
    <% end %>
  </div>
</div>
