<h1><%= @user.username %></h1>

<h3>Related Users</h3>

<ul>
<% User.all.each do |u| %>
    <li>
      <%= u.username %>
        <% if Invitation.reacted?(@user.id, u.id) == false %>
          <%= simple_form_for @invitation do |f| %>
            <%= f.input :friend_id, as: :hidden, input_html: { value: u.id } %>
            <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
            <button type="submit"> <i class="fa-solid fa-plus fa-2xs"></i> </button>
          <% end %>
        <% end %>
    </li>
    <div class="clear"></div>
  <% end %>
</ul>
