<div class="container" style="min-height: 89vh;">

<ul class="nav tabs-underlined" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friends-tab-pane" role="tab" aria-controls="friends-tab-pane" aria-selected="false">Friends</span>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "avatar-large mb-3" %>
      <% else %>
        <img alt="avatar-large mb-3" src="https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid" />
      <% end %>
      <div class= "profile-info">
        <div class="mt-3">
          <h1><%= @user.username %></h1>
        </div>
        <div class= "profile-tag">
          <p><%= @user.bio %></p>
          <p>Tags: <% @user.tag_list.each do |tag| %>
              <%= link_to tag, tagged_path(tag: tag)%>
            <% end %></p>
        </div>
      </div>
      <div>
        <button class="button-2 mt-3" type="button">
          <h6 class="button-profile"><%= link_to 'Edit Profile', edit_user_path(@user), class: "dropdown-item"  %></h6>
        </button>
        <button class="button-2" type="button">
          <h6><%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"  %></h6>
        </button>
      </div>
    </div>
  </div>
  <div class= "friend-list">
    <div class="tab-pane fade" id="friends-tab-pane" role="tabpanel" aria-labelledby="friends-tab" tabindex="0">
      
      <ul class="nav tabs-underlined" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <span class="nav-link tab-underlined active" id="friendlist-tab" data-bs-toggle="tab" data-bs-target="#friendlist-tab-pane" role="tab" aria-controls="friendlist-tab-pane" aria-selected="true">Your Friends</span>
        </li>
        <li class="nav-item" role="presentation">
          <span class="nav-link tab-underlined" id="sentpendings-tab" data-bs-toggle="tab" data-bs-target="#sentpendings-tab-pane" role="tab" aria-controls="sentpendings-tab-pane" aria-selected="false">Sent Rs</span>
        </li>
        <li class="nav-item" role="presentation">
          <span class="nav-link tab-underlined" id="receivedpendings-tab" data-bs-toggle="tab" data-bs-target="#receivedpendings-tab-pane" role="tab" aria-controls="receivedpendings-tab-pane" aria-selected="false">Pending Rs</span>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade py-3 show active" id="friendlist-tab-pane" role="tabpanel" aria-labelledby="friendlist-tab" tabindex="0">
          <h3>Friends of <strong> <%= @user.username %> </strong> </h3>
          <div class="cards d-flex justify-content-start">
            <% @user.friends.each do |friend| %>
                <div class="avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= friend.photo.attached? ? cl_image_path(friend.photo.key) : image_path("https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid") %>)">
                  <p><%= friend.username %></p>
                </div>
                <% if @user == current_user %>
                   <%= link_to 'Unfriend', invitation_path(Invitation.find_invitation(@user.id, friend.id)), data: {turbo_method: :delete}  %>
                <% end %>
              <% end %>
          </div>
        </div>
        <div class="tab-pane fade py-3" id="sentpendings-tab-pane" role="tabpanel" aria-labelledby="sentpendings-tab" tabindex="0">
          <h3> Your Sent Requests </h3>
          <div>
            <% Invitation.where(user_id: current_user.id, confirmed: false).each do |invitation| %>
            <p><%= User.find(invitation.friend_id).username %> 's friend request pending </p>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade py-3" id="receivedpendings-tab-pane" role="tabpanel" aria-labelledby="receivedpendings-tab" tabindex="0">
          <h3> <strong> Your Received Requests </strong> </h3>
          <div class="d-flex m-2 p-2">
            <% Invitation.where(friend_id: current_user.id, confirmed: false).each do |invitation| %>
              <%= User.find(invitation.user_id).username %>
              <%= simple_form_for invitation do |f| %>
                <%= f.input :confirmed, as: :hidden, input_html: { value: true } %>
                <%= f.submit 'Accept', class: 'btn btn-success' %>
              <% end %>
            <%= link_to 'Reject', invitation_path(invitation), data: {turbo_method: :delete}, class: 'btn btn-warning'%>          
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






      
      





