<div class="container">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "avatar-large mb-3" %>
  <% else %>
    <img alt="avatar-large mb-3" src="https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid" />
  <% end %>
  <div class= "profile-info">
    <div class="mt-3">
      <h1><%= @user.username %></h1>
    </div>
    <div>
      <p class="fw-semibold"><i class="fa-solid fa-user"></i> <%= @user.age %></p>
    </div>
    <div>
      <p><i class="fa-solid fa-location-dot"></i><%= @user.location %></p>
    </div>
    <div>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
</div>
