<ul class="nav tabs-underlined" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friends-tab-pane" role="tab" aria-controls="friends-tab-pane" aria-selected="false">Friends</span>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="container" style="min-height: 89vh;">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "avatar-large mb-3" %>
      <% else %>
        <img alt="avatar-large mb-3" src="https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid" />
      <% end %>
      <div class= "profile-info">
        <div class="mt-3">
          <h1><%= @user.username %></h1>
        </div>
        <div class= "profile-tag">
          <p><%= @user.bio %></p>
          <p>Tags: <% @user.tag_list.each do |tag| %>
              <%= link_to tag, tagged_path(tag: tag)%>
            <% end %></p>
        </div>
      </div>
      <div>
        <button class="button-2 mt-3" type="button">
          <h6 class="button-profile"><%= link_to 'Edit Profile', edit_user_path(@user), class: "dropdown-item"  %></h6>
        </button>
        <button class="button-2" type="button">
          <h6><%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"  %></h6>
        </button>
      </div>
    </div>
  </div>
  <div class= "friend-list">
    <div class="tab-pane fade" id="friends-tab-pane" role="tabpanel" aria-labelledby="friends-tab" tabindex="0">
      <h3>Friends of <strong> <%= @user.username %> </strong> </h3>
      <ul>
        <% @user.friends.each do |friend| %>
          <li>
            <%= friend.username %>
            <% if @user == current_user %>
              <%= link_to 'Unfriend',
        invitation_path(Invitation.find_invitation(@user.id, friend.id)), data: {turbo_method: :delete}  %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if @user == current_user %>
        <h3> <strong> <%= @user.username %>'s Sent Requests </strong> </h3>
        <ul>
          <% Invitation.where(user_id: current_user.id, confirmed: false).each do |invitation| %>
            <li>
              <%= User.find(invitation.friend_id).username %> 's friend request pending
            </li>
          <% end %>
        </ul>
        <h3> <strong> <%= @user.username %>'s Received Requests </strong> </h3>
        <ul>
          <% Invitation.where(friend_id: current_user.id, confirmed: false).each do |invitation| %>
            <li>
              <%= User.find(invitation.user_id).username %>
              <%= simple_form_for invitation do |f| %>
                <%= f.input :confirmed, as: :hidden, input_html: { value: true } %>
                <%= f.submit 'Accept', class: 'btn btn-light' %>
              <% end %>
              <%= link_to 'Reject Invitation', invitation_path(invitation), data: {turbo_method: :delete}%>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
    This is the content for the Requests tab. Notice in the tab HTML there is a href="#requests". This is pointing to the id of this div..
  </div>
  <div class="tab-pane fade" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
    This is the content for the Conversations tab. Notice in the tab HTML there is a href="#converstations". This is pointing to the id of this div.
  </div>
  <div class="tab-pane fade" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
    This is the content for the Conversations tab. Notice in the tab HTML there is a href="#converstations". This is pointing to the id of this div.
  </div>
</div>
