<div class="text-center mt-5">
  <div class="avatar-img">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo %>
    <% else %>
      <img alt="avatar-img" src="https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid" />

    <% end %>
  </div>
  <div class="mt-3">
    <%= @user.username %>
  </div>
  <div class="mt-3">
    <%= @user.age %>
  </div>
  <div class="mt-3">
    <%= @user.location %>
  </div>
  <div class="mt-3">
    <%= @user.bio %>
  </div>
  <div class="container mt-3">
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
  </div>
</div>
