<div class="container">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "avatar-large mb-3" %>
  <% else %>
    <img alt="avatar-large mb-3" src="https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid" />
  <% end %>
  <div class= "profile-info">
    <div class="mt-3">
      <h1><%= @user.username %></h1>
    </div>
    <div>
      <p><%= @user.bio %></p>
    </div>
    <div>
      <h6>Tags:</h6>
      <% @user.tag_list.each do |tag| %>
        <%= link_to tag, tagged_path(tag: tag) %>
      <% end %>
    </div>
  </div>
  <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
  <p><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></p>
</div>
