<div class="container" style="min-height: 89vh;">
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friends-tab-pane" role="tab" aria-controls="friends-tab-pane" aria-selected="false">Friends</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="received-tab" data-bs-toggle="tab" data-bs-target="#received-tab-pane" role="tab" aria-controls="received-tab-pane" aria-selected="false">Received</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending-tab-pane" role="tab" aria-controls="pending-tab-pane" aria-selected="false">Sent</span>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class= "tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class= "w-100 mt-3 d-flex flex-column align-items-center">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "avatar-large mb-3" %>
        <% else %>
          <img alt="avatar-large mb-3" src="https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid" />
        <% end %>
        <div class= "profile-info">
          <div class="mt-3">
            <h1><%= @user.username %></h1>
          </div>
          <div class= "profile-tag">
            <p><%= @user.bio %></p>
            <p>Tags: <% @user.tag_list.each do |tag| %>
                <%= link_to tag, tagged_path(tag: tag)%>
              <% end %></p>
          </div>
        </div>
        <div class= "d-flex">
          <div class= "button-2 mt-2 me-3">
            <p class="button-profile"><%= link_to 'Edit Profile', edit_user_path(@user), class: "dropdown-item"  %></p>
          </div>
          <div class= "button-2 mt-2">
            <p><%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"  %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="friends-tab-pane" role="tabpanel" aria-labelledby="friends-tab" tabindex="0">
      <div class= "friend-list">
        <h3>Friends of <strong> <%= @user.username %> </strong> </h3>
        <div class="cards d-flex justify-content-start">
          <ul class="list-group">
            <% @user.friends.each do |friend| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="left-user-info">
                  <% if friend.photo.attached? %>
                    <%= cl_image_tag friend.photo.key , class: "avatar" %>
                  <% else %>
                    <%= image_tag "" , class: "avatar" %>
                  <% end %>
                  <%= friend.username %>
                </div>
                <div>
                  <%= link_to 'Unfriend', invitation_path(Invitation.find_invitation(@user.id, friend.id)), data: {turbo_method: :delete}, class: 'btn btn-warning' %>
                </div>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="received-tab-pane" role="tabpanel" aria-labelledby="received-tab" tabindex="0">
      <h3> <strong> Your Received Requests </strong> </h3>
      <div class= "received-list">
        <div class="cards d-flex justify-content-start">
          <ul class="list-group">
            <% Invitation.where(friend_id: current_user.id, confirmed: false).each do |invitation| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="left-user-info">
                  <% if invitation.user.photo.attached? %>
                    <%= cl_image_tag invitation.user.photo.key , class: "avatar" %>
                  <% else %>
                    <%= image_tag "" , class: "avatar" %>
                  <% end %>
                  <%= User.find(invitation.user_id).username %>
                </div>
                <%= simple_form_for invitation do |f| %>
                  <%= f.input :confirmed, as: :hidden, input_html: { value: true } , wrapper_html:{style: "margin: 0!important"}%>
                  <%= f.submit 'Accept', class: 'btn btn-success' %>
                <% end %>
                <%= link_to 'Reject', invitation_path(invitation), data: {turbo_method: :delete}, class: 'btn btn-warning'%>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="pending-tab-pane" role="tabpanel" aria-labelledby="pending-tab" tabindex="0">
      <h3> Your Sent Requests </h3>
      <% Invitation.where(user_id: current_user.id, confirmed: false).each do |invitation| %>
        <p><%= User.find(invitation.friend_id).username %> 's friend request pending </p>
      <% end %>
    </div>
  </div>
</div>
