<div class="card d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= interest.photo.attached? ? cl_image_path(interest.photo.key) : image_path('https://www.peeters-leuven.be/covers/no_cover.gif') %>)">
  <h3><%= interest.title %></h2>
  <p><%= link_to "See more details", interest_path(interest), class: 'text-decoration-none' %></p>
  <div class="position-absolute bottom-0 start-0">
  <%= simple_form_for [shelf_interest] do |f| %>
      <%= f.input :interest_id, as: :hidden, input_html: { value: interest.id } %>
      <%= f.submit 'Add to shelf!', class: 'submit-btn' %>
    <% end %>
  </div>
</div>
