<div class="card-simple">
  <%= link_to "", interest_path(interest), class: "card-item-link" %>
  <img
        alt=""
        class="card-simple-image"
        src="<%= image_path(interest.cover) %>"/>
         <div class="card-simple-tags">
    <span class="tag-orange">
      <%= simple_form_for [shelf_interest] do |f| %>
      <%= f.input_field :interest_id, as: :hidden, input_html: { value: interest.id } %>
  <button type="submit" class="star-rating">
    <i class="fa-solid fa-plus fa-2xs"></i>
  </button>
<% end %></span
    >
</div>
<div class="card-simple-text">
  <div class= "interest-title">
    <p><%= interest.title %></p>
  </div>
</div>
</div>
