<div class="container">
  <h1>Search Results</h1>
  <%= form_with url: interests_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
      %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>

  <% @interests.each do |interest|%>
    <%= render "interest_card", interest: interest %>
    <%= simple_form_for [@shelf_interest] do |f| %>
      <%= f.input :interest, as: :hidden, input_html: { value: interest } %>
      <%= f.input :user, as: :hidden, input_html: { value: current_user } %>
      <%= f.submit 'Add to your shelf!', class: 'submit-btn' %>
    <% end %>
  <% end %>
</div>
