<div class="container">
  <%# <div class="shelf-bg"  style="background-image: url(<%=# image_path('https://sobusobu.com/cdn/shop/files/29778_Mahogany_PI_wall_shelf_3shelves-varnised_front_cut_web_1512x.jpg?v=1724980479' )  %>
  <h1 class="text-center my-5">Welcome <%= current_user.username %>!</h1>
  <div class="shelf">
    <div class="shelves">
      <div class="shelf-row">
        <% @books.each do |book|  %>
          <div class="book-item">
            <span><%= book.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(current_user, :media_type => "book"), class: "shelf-row-link" %>
      </div>
      <div class="shelf-row">
        <% @movies.each do |movie|  %>
          <div class="movie-item">
            <span><%= movie.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(current_user, :media_type => "movie"), class: "shelf-row-link" %>
      </div>
      <div class="shelf-row">
        <% @albums.each do |album|  %>
          <div class="album-item">
            <span><%= album.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(current_user, :media_type => "album"), class: "shelf-row-link" %>
      </div>
    </div>
  </div>
</div>
