<div class="shelf-container homescreen">
  <div class= "d-flex">
    <div class="top-shelf-<%= @user.style %>">
    </div>
  </div>
  <div class= "d-flex">
    <div class= "name-shelf">
      <h1><%= @user.username %>'s Room</h1>
    </div>
  </div>
  <div class="row">
    <div class="shelf shelf-<%= @user.style %>" id= "bookshelf">
      <div class="shelf-row">
        <div class= "d-flex justify-content-start align-items-center w-100">
          <% @books.each do |book|  %>
            <div class="book-item" style= "background-image: url(<%= asset_url("Cute_book_#{rand(1..4)}.png") %>)">
            </div>
          <% end %>
        </div>
        <div class= "book-click position-relative"><%= link_to "", user_shelf_interests_path(@user, :media_type => "book"), class: "shelf-row-link" %>
        </div>
      </div>
      <div class="shelf-row">
        <div class= "movie-click position-relative"> <%= link_to "", user_shelf_interests_path(@user, :media_type => "movie"), class: "shelf-row-link" %>
        </div>
        <div class= "d-flex justify-content-start align-items-center w-100">
          <% @movies.each do |movie|  %>
            <div class="movie-item" style= "background-image: url(<%= asset_url("Cute_book_#{rand(1..4)}.png") %>)">
            </div>
          <% end %>
        </div>
      </div>
      <div class="shelf-row">
        <div class= "movie-click position-relative"> <%= link_to "", user_shelf_interests_path(@user, :media_type => "album"), class: "shelf-row-link" %>
        </div>
        <div class= "d-flex justify-content-start align-items-center w-100">
          <% @movies.each do |movie|  %>
            <div class="movie-item" style= "background-image: url(<%= asset_url("Cute_book_#{rand(1..4)}.png") %>)">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
