  <% if current_user == @user %>
    <h1> Your shelf </h1>
  <% else %>
    <h1><%= @user.username %>'s shelf </h1>
  <% end %>
  
<div class="container">
  <div class="shelf">
    <div class="shelves">
      <div class="shelf-row">
        <% @books.each do |book|  %>
          <div class="book-item">
            <span><%= book.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(@user, :media_type => "book"), class: "shelf-row-link" %>
      </div>
      <div class="shelf-row">
        <% @movies.each do |movie|  %>
          <div class="movie-item">
            <span><%= movie.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(@user, :media_type => "movie"), class: "shelf-row-link" %>
      </div>
      <div class="shelf-row">
        <% @albums.each do |album|  %>
          <div class="album-item">
            <span><%= album.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(@user, :media_type => "album"), class: "shelf-row-link" %>
      </div>
    </div>
  </div>
</div>