<div class="shelf-container homescreen">
  <div class= "d-flex">
    <div class="top-shelf-<%= @user.style %>">
    </div>
  </div>
  <div class="row">
    <div class="shelf shelf-<%= @user.style %>" id= "bookshelf">
      <div class="shelf-row">
        <% @books.each do |book|  %>
          <div class="book-item book-<%= @user.style %>">
            <span><%= book.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(@user, :media_type => "book"), class: "shelf-row-link" %>
      </div>
      <div class="shelf-row">
        <% @movies.each do |movie|  %>
          <div class="movie-item">
            <span><%= movie.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(@user, :media_type => "movie"), class: "shelf-row-link" %>
      </div>
      <div class="shelf-row">
        <% @albums.each do |album|  %>
          <div class="album-item">
            <span><%= album.title %></span>
          </div>
        <% end %>
        <%= link_to "", user_shelf_interests_path(@user, :media_type => "album"), class: "shelf-row-link" %>
      </div>
    </div>
  </div>
</div>
