<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container">
  <div class="p-1">
    <button type="submit" class="star-rating">
      <i class="fas fa-star"></i>
    </button>
  </div>
  <h1 class="m-1 p-1"><%= @shelf_interest.interest.title %></h1>
  <div class="cover">
    <% if @shelf_interest.interest.photo.attached? %>
      <%= cl_image_tag @shelf_interest.interest.photo.key, class: "w-100" %>
    <% else %>
      <%= image_tag 'no_cover.gif', class: "w-100" %>
    <% end %>
  </div>
  <div class="shelf_interest-details">
    <p class="fw-semibold">Creator: <%= @shelf_interest.interest.creator %></p>
    <p class="fw-semibold">Genre: <%= @shelf_interest.interest.genre %></p>
    <p class="fw-semibold">Publishing year: <%= @shelf_interest.interest.publishing_year %></p>
  </div>
  <div class="summary m-1 p-1">
    <p>The Little Prince follows a pilot stranded in the desert who meets a boy from asteroid B-612. The Little Prince shares tales of his travels to planets, each home to peculiar adults, and reflects on love, loneliness, and the meaning of life. Central to his story is his devotion to a rose on his home planet. The novella emphasizes seeing with the heart, valuing relationships, and the wonder of childhood imagination.</p>
  </div>
</div>
