<div class="container">
  <div class="p-1">
    <button type="submit" class="star-rating">
      <i class="fas fa-star"></i>
    </button>
  </div>
  <h1 class="m-1 p-1"><%= @shelf_interest.interest.title %></h1>
  <div class="cover">
    <%= link_to edit_shelf_interest_path(@shelf_interest) do %>
      <% if @shelf_interest.interest.photo.attached? %>
        <%= cl_image_tag @shelf_interest.interest.photo.key, class: "w-100" %>
      <% else %>
        <%= image_tag 'no_cover.gif', class: "w-100" %>
      <% end %>
    <% end %>
  </div>
  <div class="shelf_interest-details">
    <p class="fw-semibold"><i class="fa-solid fa-moon"></i> Started in:</p>
    <p class="fw-semibold"><i class="fa-solid fa-sun"></i> Finished in:</p>
  </div>
  <div class="comments-section">
    <% if @shelf_interest.comments.any? %>
      <h2>Overall</h2>
      <div class="comments-list mt-4">
        <% @shelf_interest.comments.each do |comment| %>
          <div class="comment">
            <p><%= comment.content %></p>
            <p>by: <strong><%= comment.user.username %></strong> </p>
          </div>
        <% end %>
      </div>
    <% else %>
    </div>
    <div><%= simple_form_for [@shelf_interest, @comment] do |f| %>
        <div class="form-group">
          <%= f.input :content, label: "Add a comment", input_html: { class: "form-control", maxlength: 90 } %>
        </div>
        <%= f.submit "Post Comment", class: "btn btn-primary" %>
      <% end %>
    <% end %></div>
</div>
