<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to "Back", user_shelf_interests_path(@user), class: "button-2 mt-3 mb-3" %>
    <div class="p-1 d-flex align-items-center">
      <% if @user.favorited?(@shelf_interest) %>
        <%= link_to unfavorite_shelf_interest_path do %>
          <i class="fa-solid fa-star star-rating"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_shelf_interest_path do %>
          <i class="fa-regular fa-star star-rating"></i>
        <% end %>
      <% end %>
      <%= simple_form_for [@shelf_interest] do |f| %>
        <%  unless current_user.shelf_interests.exists?(interest_id: @interest.id) %>
          <%= f.input :interest_id, as: :hidden, input_html: { value: @interest.id } %>
          <button type="submit" class="star-rating mb-1 ms-3">
            <i class="fa-solid fa-plus fa-2xs fs-3"></i>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <h1 class="m-1 p-1"><%= @shelf_interest.interest.title %></h1>
    <%= link_to edit_shelf_interest_path(@shelf_interest) do %>
      <div class="cover">
        <% if @shelf_interest.interest.photo.attached? %>
          <%= cl_image_tag @shelf_interest.interest.photo.key, class: "w-100" %>
        <% else %>
          <%= image_tag @shelf_interest.interest.cover, class: "w-100" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="summary">
    <p class="overflow-ellipsis"><%= @shelf_interest.interest.description%></p>
    <%# <p class="fw-semibold"><i class="fa-solid fa-moon"></i> Started in:</p>
    <p class="fw-semibold"><i class="fa-solid fa-sun"></i> Finished in:</p> %>
  </div>
  <div class="show-info d-flex justify-content-between">
    <div>
      <p><i class="fa-regular fa-calendar"></i> <%= @shelf_interest.interest.publishing_year%></p>
      <p><i class="fa-regular fa-circle-user"></i> <%= @shelf_interest.interest.creator%></p>
    </div>
    <div>
      <p><i class="fa-regular fa-bookmark"></i> <%= @shelf_interest.interest.genre%></p>
      <p><i class="fa-regular fa-image"></i> <%= @shelf_interest.interest.media_type%></p>
    </div>
  </div>
  <div class="comments-section">
    <% if @shelf_interest.comments.any? %>
      <h2>Overall</h2>
      <div class= "center-text">
        <div class="comments-list">
          <% @shelf_interest.comments.each do |comment| %>
            <div class="comment">
              <h4><%= comment.content %></h4>
              <p>by: <strong><%= comment.user.username %></strong> </p>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class= "center-text form">
        <%= simple_form_for [@shelf_interest, @comment] do |f| %>
          <div class="form-group">
            <%= f.input :content, label: "Add a comment", input_html: { class: "form-control", maxlength: 90 } %>
          </div>
          <%= f.submit "Post Comment", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
